In [9]:
import pandas as pd

In [10]:
names1880 = pd.read_csv('/Users/uk250007/Desktop/Data/names/yob1880.txt', names=['name', 'sex', 'births'])

In [12]:
names1880.groupby('sex').births.sum()

sex
F     90993
M    110491
Name: births, dtype: int64